@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.about-container{
    color: white;
    padding: 50px 150px;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
}
.about{
    margin-block: 30px;
}
@media only screen and (max-width: 800px) {
    .about-container{
        padding:50px ;
    }
}
@media only screen and (max-width: 1000px) {
    .about-container{
        padding:50px 80px ;
    }
}
@media only screen and (max-width: 500px) {
    .about-container{
        padding:50px 20px ;
        font-size: 0.8rem;
        text-align: center;
    }
}