@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2b3035;
}

.navbar {
    padding-block: 10px;
    box-shadow: 2px 2px 15px rgb(34, 33, 33)
}

.my-name {
    font-size: 2.5rem;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bolder;
}

.nav-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    margin-right: 20px;
}